.menu-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 70px;
}

body {
    margin: 0px;
}

.menu-all a {
    text-decoration: none;
}

.menu a {
    color: black;
    padding: 0 15px;
}

button a {
    color: white;
}

button {
    background-color: #E76F51;
    border-radius: 20px;
    width: 120px;
    height: 35px;
    border: 0px;
    cursor: pointer;
}

h2,
.container-box h1,
.container-menu h1,
.mini-menu h3{
    color: #E76F51;
}

.container img {
    position: relative;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.container a {
    text-decoration: none;
}

.text-img {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-top: 71px;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
}

.text-img p {
    width: 390px;
    text-align: center;
    margin-top: 0px;
    line-height: 25px;
     background-color: transparent;
}

.text-img button a {
    color: white;
}

.text-img button {
    background-color: #E76F51;
    border-radius: 20px;
    width: 155px;
    height: 40px;
    border: 0px;
    cursor: pointer;
}

.mini-box img {
    width: 320px;
    height: 220px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-box {
    text-align: center;
    flex-wrap: wrap;
}

.mini-box {
    width: 320px;
    text-align: left;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.315);
}
.all-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.container-text {
    padding: 0px 20px 0px 20px;
    line-height: 15px;
}

.container-text p {
    font-size: 19px;
    color: #797979;
    line-height: 30px;
}
.container-text h2{
    color: black;
}
.container-text h3{
    color: #E76F51;
    font-size: 23px;
}
.container-box h1{
    font-weight: bold;
    margin: 5px 0px 50px 0px;
}
.container-menu{
    text-align: center;
}
.mini-menu p{
    font-size: 21px;
}
.all-menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0px 50px 0px 50px;
    justify-content: center;
    align-items: center;
    
}
.mini-menu{
    width: 250px;
    height: 75px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.267);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    flex: 0 0 calc(30% - (100px * 1 / 3 ));
}
.container-menu h1{
    font-size: 40px;
}
.content-all{
    background-color: #3C2F2F;
    color: #b8b1b1;
    margin-top: 100px;
}
.content-first{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
    padding: 50px 0px 0px 0px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
}
.box p{
    margin: 0px;
    line-height: 25px;
}
.footer p{
    margin-bottom: 0px;   
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    border-top: 1px solid #444444;
}