
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f2f2;
}
.header {
    background: #1f3b63;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
}

.nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.btn-primary {
    background: #ff7a3d;
    padding: 8px 16px;
    border-radius: 6px;
}
.about {
    background: linear-gradient(135deg, #1f3b63, #244c7a);
    color: white;
    padding: 60px;
    display: flex;
    gap: 40px;

}

.about-text h4{
    color:#FBBF24;
}

.about-text {
    flex:1;
}

.about-text h1 {
    font-size: 36px;
    margin: 10px 0;
}

.red {
    color: red;
}

.green {
    color: #33ff77;
}

.statistical {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

.statistical h2 {
    color: #33ff77;
}
.about-image {
    flex: 1;
    position: relative;
}

.about-image img {
    width: 100%;
    border-radius: 12px;
}

.badge {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background: #fbc02d;
    color: black;
    padding: 10px;
    border-radius: 8px;
}
.cta {
    background: #ff7a3d;
    text-align: center;
    padding: 60px 20px;
    color: white;
    line-height: 45px;
}

.cta-buttons {
    margin-top: 20px;
}

.btn-light {
    background: white;
    color: black;
    padding: 12px 20px;
    margin-right: 10px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-outline {
    border: 2px solid white;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
.footer {
    background: #1f3b63;
    color: white;
    padding: 40px 60px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-top: 5px;
    line-height: 50px;
}
.footer p{
    line-height: 30px;
    padding:40px;
}
.copyright {
    text-align: center;

}
