.taskbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid gray;
    width: 80%; */
}
a{
    text-decoration: none;
    color: #464E5A;
    padding: 15px;
    font-weight: bold;
}
button{
    background-color: #0D6EFD;
    color: white;
    height: 30px;
    width: 100px;
    border: 0;
}
img{
    height: 50px;
}
section{
    width: 100%;
    justify-content: center;
    display: flex;
}
@media (max-width: 768px) {
    .text{
        display: flex;
        flex-direction: column;
    }
}