.container{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}
.img{
    width: 100%;
    position: relative;
}
img{
    width: 100%;
}
.seller{
    position: absolute;
    top: 0px;
    right: 20px;
    /* color: white; */
}
.container-text{
    width: 90%;
}
.feedback{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.feedback p{
    background-color: #dadbe6;
    color: #787BF3;
    border-radius: 7px;
    width: 75px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
}
.text h2,
.text p,
.time p{
    margin: 0px 0px 10px 0px;
}
.text{
    line-height: 25px;
}
.time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.price p{
    color: #676AF1;
    font-weight: bold;
    font-size: 20px;
}
.price button{
    background-color: #0D6EFD;
    color: rgb(230, 224, 224);
    padding: 8px;
    border: 0px;
    border-radius: 5px;
}
@media(max-width:768px){
    .container{
        width: 300px;
    }
    body{
        display: flex;
        justify-content: center;
    }
}