.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price{
    color: #0D6EFD;
    background-color: rgb(211, 226, 248);
    width: 60px;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}
p,
h1{
    margin: 0px 0px 20px 0px;
}
.gray-text{
    color: #9EA1A3;
}
.all-box{
    display: flex;
    justify-content: center;
}
.mini-box{
    width: 325px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 5px;
    height: 375px;
}
.mini-box-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-header{
    text-align: center;
}
.infor{
    width: 85%;
    border-top: 1px solid rgb(221, 221, 221);
    padding-top: 15px;
}
.infor p{
    margin: 0px 0px 10px 0px;
}
.text-header h2{
    font-size: 25px;
}
.price-number{
    font-weight: bold;
    font-size: 40px;
    color: #6568F1;
}
button{
    color: #0D6EFD;
    border: 1px solid #0D6EFD;
    background-color: white;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;
}
button:hover{
    background-color: #0D6EFD;
    color: white;
}
.mini-box:hover{
    border: 2px solid #0D6EFD;
    transform: scale(1.05) translateY(-10px);
    width: 350px;
    height: 400px;
}
@media(max-width:768px){
    .all-box{
        flex-wrap: wrap;
    }
}